div.test{
	font-size: xx-large;
	color: green;
}
div#header {

}
div#titlefix {
	height:100%;
}
div#intro {
	height:100%;
	padding:50px;
	background:orange;
}
div#timeline {
	background:#333;
}
div#conclusion {
	height:800px;
	background:purple;
}
div#footer {
	height:200px;
	background:green;
}
div#war{
	height: 200px;
}
div#at_home{
	height: 200px;
}
.big_video{
	background: black;
}
.video_center {
	margin:0 auto;
	text-align:center;
}
/* NODES */
div.tn {
	background:#fff;
	width:70px;
	height:70px;
	position:absolute;
	margin-top:-35px;
	left:50%;
	z-index:200;
	margin-left:-35px;
	border-radius:70px;
	border:2px solid #000;
}
div.tn span {
	font-size:150%;
	width:300px;
	display:block;
	margin-top:70px;
	text-align:center;
	margin-left:-120px;
	text-shadow: 0px 0px 4px black;
}
div.tnline {
	background:red;
	width:2px;
	height:100px;
	position:absolute;
	height:100%;
	left:50%;
	z-index:199;
	background:#000;
}
/*TAILOR*/
div#tailor {
	background:#ccc;
	padding:20px;
	color:#222;
	padding-bottom:60px;
}
div#tailorinner {
	width:50%;
	margin:0 auto;
}