div.test{
	font-size: xx-large;
	color: green;
}
h3.header2 {
	font-weight:100;
	font-size:120%;
	line-height:1.2em;
}
div#header {

}
div#titlefix {
	height:100%;
}
div#intro {
	//height:100%;
	padding:50px;
	background:orange;
}
div#timeline {
	background:#333;
}
div#conclusion {
	background: #fff;
	color: #333;
	font-family: Garamond;
	font-size: 400%;
	padding: 100px;
}
div#conclusion img {
	margin:0 auto;
	width:200px;
	text-align:center;
	display:block;
}
div#footer {
	height:200px;
	font-family:"Helvetica", sans-serif;
	font-size:80%;
	padding:35px;
}
div#footer .right {
	float:right;
}
div#war{
	height: 200px;
}
div#at_home{
	height: 200px;
}
.big_video{
	background: black;
}
.video_center {
	margin:0 auto;
	text-align:center;
}
/* NODES */
div.space {
	overflow:auto;
	height:100px;
	margin-top:50px;
}
div.tn {
	background:#fff;
	width:70px;
	height:70px;
	position:absolute;
	margin-top:-35px;
	left:50%;
	z-index:200;
	margin-left:-35px;
	border-radius:70px;
	border:2px solid #000;
}
div.tn span {
	font-size:150%;
	width:800px;
	display:block;
	margin-top:70px;
	text-align:center;
	margin-left:-370px;
	background:#000;
	text-shadow: 0px 0px 2px black,0px 0px 2px black,0px 0px 2px black;
}
div.tnline {
	background:red;
	width:2px;
	height:100px;
	position:absolute;
	height:100%;
	left:50%;
	z-index:199;
	background:#000;
}
/*TAILOR*/
div#tailor {
	background:#ccc;
	padding:20px;
	color:#222;
	padding-bottom:60px;
}
div#tailorinner {
	width:50%;
	margin:0 auto;
}

.large_event {
	    	height:200px;
	    	background:green;
    	}
    	.home_event {
	    	height:100px;
	    	background:blue;
    	}
    	.away_event {
	    	height:100px;
	    	background:red;
    	}
    	#header {
	    	text-align:center;
	    	padding:10px;
	    	position:absolute;
	    	width:100%;
	    	height:100%;
    	}
    	#header h1 {
	    	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	    	font-size:600%;
	    	margin-top:30%;
	    	margin-bottom:0px;
    	}
    	#timeline {
	    	display:none;
    	}
    	#bgvidwrapper {
	    	position:absolute;
	    	width:100%;
	    	overflow:hidden;
	    	z-index:0;
	    	top:0;
	    	left:0;
	    	bottom:0;
    	}
    	#bgvid {
    		width:100%;
	    	opacity:0.4;
    	}
    	body, html {
	    	height:100%;
    	}
    	.timeline_header div div {
	    	background:orange;
	    	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	    	text-align:center;
	    	font-size:400%;
	    	border-top:1px solid #000;
	    	height:200px;
	    	padding-top:100px;
	    	text-shadow: 0px 0px 4px black;
    	}
    	.timeline_header div .away_head {
    		background:#[UIColor colorWithHue:0.087 saturation:0.472 brightness:0.557 alpha:1];
	    	background-image:url('https://upload.wikimedia.org/wikipedia/commons/c/cb/Australian_9th_and_10th_battalions_Egypt_December_1914_AWM_C02588.jpeg');
    	}
    	.timeline_header div .home_head {
	    	background-image:url('http://anzaccentenary.vic.gov.au/wp-content/uploads/2013/10/Banner-Melbourne%E2%80%99s-Swanston-street-in-1914-%E2%80%93-calm-and-confident.jpg');
    	}
    	div.gmnoprint {
	    	display:none !important;
    	}
    	section {
	    	border:1px solid #333;
	    	overflow:auto;
	    	background:#222;
	    	margin:10px;
	    	border-radius:4px;
	    	padding-top:20px;
    	}
    	div#map {
	    	width:1000px;
	    	height:600px;
	    	zoom:0.2;
	    	border-radius:10px;
	    	margin-top:0;
	    	border-top-left-radius:100px;
	    	border-top-right-radius:100px;
	    	margin-top:-100px;
	    	position:absolute;
	    	top:-500px;
	    	left:50%;
	    	margin-left:-500px;
	    	border:1px solid #222;
	    	opacity:0.8;
    	}
    	div#timelinefix {
    		position:absolute;
	    	background:#b3b3b3;
	    	//background:red;
	    	left:50%;
	    	width:6px;
	    	height:100px;
	    	margin-left:-3px;
	    	z-index:-100;
    	}
    	div#timelinefix2 {
    		position:absolute;
	    	background:#000;
	    	left:50%;
	    	width:6px;
	    	height:120px;
	    	margin-left:-3px;
	    	margin-top:-120px;
	    	z-index:-100;
    	}